label {
  height: 100% !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

tbody tr:not(:nth-child(2)) {
  opacity: 0.5;
}

tbody tr:not(:nth-child(2)):hover > * {
  opacity: 0.5;
}
